html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: JaneDoe;
  src: url(../fonts/janedoe.regular.otf); }
@font-face {
  font-family: Disposable Droid BB Bold;
  src: url(../fonts/disposabledroid-bb.bold.ttf); }
@font-face {
  font-family: Digital-7 Regular;
  src: url(../fonts/digital-7.regular.ttf); }
.content {
  display: grid;
  grid-template-columns: [first-col] 15% [second-col] 70% [third-col] 15% [forth-col];
  grid-template-rows: [first-row] 20% [second-row] 70% [third-row] 10% [forth-row];
  background-color: #7fb0ff;
  height: 100%;
  margin: 0;
  padding: 0; }
  .content .content__title {
    grid-column: first-col / forth-col;
    grid-row: first-row / second-row;
    text-align: center;
    margin: 0;
    font-family: JaneDoe;
    font-size: 3vw;
    place-self: center stretch; }
    .content .content__title .content__title--span {
      font-family: Disposable Droid BB Bold;
      color: blue; }

.calculator {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 5% 20% 70% 5%;
  grid-column: second-col / third-col;
  grid-row: second-row / third-row;
  background-color: #d1d1d1;
  border: 3px solid black;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .calculator .calculator__display {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;
    background-color: #009b36;
    font-size: 2rem;
    font-family: Digital-7 Regular;
    border: 3px solid black; }
    .calculator .calculator__display .calculator__display--value {
      place-self: center stretch;
      font-size: 7vw;
      margin: 0; }
  .calculator .calculator__buttons {
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-column: 2 / 4;
    grid-row: 3 / 4; }
    .calculator .calculator__buttons .calculator__numbers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 25% 25% 25% 25%;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      text-align: center; }
      .calculator .calculator__buttons .calculator__numbers .number-0 {
        grid-column: 2 / 3;
        grid-row: 4 / 5; }
      .calculator .calculator__buttons .calculator__numbers .calculator__numbers--number {
        border: 0.25vw solid black;
        border-radius: 50%;
        font-size: 4vw;
        background-color: #f9f9f9; }
  .calculator .calculator__operators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column: 4 / 5;
    grid-row: 2 / 3; }
    .calculator .calculator__operators .calculator__operators--operator {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      border: 0.25vw solid black;
      border-radius: 50%;
      font-size: 4vw;
      background-color: #f9f9f9; }
    .calculator .calculator__operators #add {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .calculator .calculator__operators #subtract {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .calculator .calculator__operators #multiply {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .calculator .calculator__operators #divide {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .calculator .calculator__operators #result {
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      border-radius: 0%; }

/*# sourceMappingURL=style.css.map */
