$background-color: #7fb0ff;
$calculator-color: #d1d1d1;
$display-color: #009b36;
$main-font: JaneDoe;
$header-font: Disposable Droid BB Bold;
$display-font: Digital-7 Regular;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: $main-font;
  src: url(../fonts/janedoe.regular.otf);
}
@font-face {
  font-family: $header-font;
  src: url(../fonts/digital-7.regular.ttf);
}
@font-face {
  font-family: $display-font;
  src: url(../fonts/digital-7.regular.ttf);
}

.content {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 15% 70% 15% ;
  grid-template-rows: 20% 70% 10%;
  -ms-grid-columns: 15% 70% 15%;
  -ms-grid-rows: 20% 70% 10%;

  background-color: $background-color;
  height: 100%;
  margin: 0;
  padding: 0;

  .content__title {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;

    text-align: center;
    margin: 0;
    font-family: $main-font;
    font-size: 3vw;
    place-self: center stretch;

    .content__title--span{
      font-family: $header-font;
      color: blue;
    }
  }
}

.calculator {
  display: grid;
  display: -ms-grid;

  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 5% 20% 70% 5%;
  -ms-grid-columns: 5% 45% 45% 5%;
  -ms-grid-rows: 5% 20% 70% 5%;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;

  background-color: $calculator-color;

  border: 3px solid black;
  border-radius: 20px;

  width: 100%;
  height: 100%;

  z-index: 1;

  .calculator__display {
    display: grid;
    display: -ms-grid;

    grid-column: 2 / 4;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;


    background-color: $display-color;
    font-size: 2rem;
    font-family: $display-font;
    border: 3px solid black;

    .calculator__display--value {
      place-self: center stretch;

      font-size: 7vw;
      margin: 0;
    }
  }
  .calculator__buttons {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 5% 90% 5%;
    -ms-grid-columns: 5% 40% 10% 40% 5%;
    -ms-grid-rows: 5% 90% 5%;

    grid-column: 2 / 4;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;

    .calculator__numbers {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 25% 25% 25% 25%;
      -ms-grid-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 25% 25% 25% 25%;

      grid-column: 2 / 3;
      grid-row: 2 / 3;
      -ms-grid-column: 2;
      -ms-grid-row: 2;

      text-align: center;
      .number-1 {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }
      .number-2 {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }
      .number-3 {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
      }
      .number-4 {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
      .number-5 {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }
      .number-6 {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }
      .number-7 {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }
      .number-8 {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
      }
      .number-9 {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
      }
      .number-0 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        -ms-grid-column: 2;
        -ms-grid-row: 4;
      }
      .calculator__numbers--number {

        border: 0.25vw solid black;
        border-radius: 50%;
        font-size: 4vw;
        background-color: #f9f9f9;
      }
    }
  }
  .calculator__operators {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 25% 25% 25% 25%;
    

    grid-column: 4 / 5;
    grid-row: 2 / 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;

    .calculator__operators--operator {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;

      border: 0.25vw solid black;
      border-radius: 50%;
      font-size: 4vw;
      background-color: #f9f9f9;
    }
    #add {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }
    #subtract {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }
    #multiply {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }
    #divide {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }
    #result {
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;

      border-radius: 0%;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .calculator .calculator__display .calculator__display--value {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 900px) {
  .calculator .calculator__display .calculator__display--value {
    font-size: 13vw;
  }
}
@media only screen and (max-width: 700px) {
  .calculator .calculator__display .calculator__display--value {
    font-size: 15vw;
  }
}
@media only screen and (max-width: 400px) {
  .calculator .calculator__display .calculator__display--value {
    font-size: 17vw;
  }
}
